@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
*{margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
outline:none;
}

$headerbg:#F5F5F5;
$headertxtc:#1c1c1c;
$textc:#7FAD39;
$ptxtc:#252525;
$fbgc:#F3F6FA;
$white:#FFFFFF;
$fontf:'Cairo', sans-serif;
html{
    font-size:62.5%;
    overflow-x: hidden !important;
    font-family:'Cairo', sans-serif;
}
ol,ul,li,p,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 90% !important;
}
@mixin botnafter($left,$width) {
    color: $headertxtc;
    text-align: center;
    font-size: 3.7rem;
    font-family: $fontf;
    font-weight: 700;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: $width;
        height: 5px;
        background: #7FAD39;
        bottom: -11px;
        left: $left;
    }
    
    
}
@mixin afterboder($height,$width,$top,$right,$color) {
    content: "";
    position: absolute;
    height:$height;
    right:$right;
    top:$top ;
    width:$width;
    background: $color;
}
@mixin btn($weight) {
        background: $textc;
        border-radius:0;
        border: 1px solid $textc;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: $fontf;
        font-weight: $weight;
        letter-spacing: 2px;
        transition: all .5s;
        &:hover{
            background: transparent;
            color: $textc;
        }
}
//side area style
.aside.active{
    left:0;
    transition:all .6s;
}
.aside{
    width: 300px;
    background:$white;
    padding-left: 3rem;
    position: absolute;
    top:0;
    left:-320px;
    z-index: 99999;
    height: 100%;
    box-shadow: 1rem 1rem 1rem .2rem rgba(0, 0, 0, 0.167);
    transition:all .7s;
    .menu{
        display: flex;
        flex-direction: column;
        li.logo {
            padding: 5rem 0 3rem 0;
        }
        .login{
            padding-left:0;
            font-size: 1.5rem;
            text-transform: capitalize;
            a{
                text-decoration: none;
                color: $headertxtc;
            }
            i{
                padding-right: .5rem;
            }
        }
        .email{
            order: 11;
            a{
                font-size: 1.4rem;
                text-decoration: none;
                padding-right:0;
                color: $headertxtc; 
                i{
                    padding-right: 1rem;
                }
            }
        }
        .free{
            order: 12;
            font-size: 1.4rem;
            padding-left: 0rem;
    }
    .social-icon{
        order: 10;
        padding-right:1.8rem;
        position: relative;
        padding: 0 0 2rem 0;
        a{
            color: $headertxtc;
            font-size: 2rem;
            padding: .7rem;
            width: 4rem;
            display:inline-block;
            height:4rem;
            text-align: center;
           // line-height: 4rem;
            border-radius: 50%;
            transition: all .5s;
            &:hover{
                color: $white;
            background: red;
            }
        }
    }
  .login-flag{
      order: 5;
      display: flex;
      .flag{
        position: relative;
        font-size: 1.6rem;
        &:hover>.country{
            top:90%;
             opacity: 1;
             visibility: visible;
        }
        .country{
            position: absolute;
            background: black;
            width: 80px;
            text-align: center;
            left: 0;
            top:190%;
            border-radius: 4px;
            transition: all .5s;
            opacity: 0;
            visibility: hidden;
            li{
                list-style: none;
                a{
                    font-family: $fontf;
                    color: $white;
                    font-size: 1.4rem;
                    text-decoration: none;
                    display: block;
                    padding: .4rem 0;
                    border-radius: 5px;
                    transition: all .5s;
                    font-weight: bold;
                    &:hover{
                        background-color: $white;
                        color: $textc;
                    }
                }
            }
        }
      }
      .login{
        padding-left: 2rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        position: relative;
            &::after{
              @include afterboder(70%,1px ,17% ,80% ,#b4b2b2)
            }
        a{
            text-decoration: none;
            color: $headertxtc;
        }
        i{
            padding-right: .5rem;
        }
    }
  }
  .flag:hover.country{
      top: 0% !important;
  }

        .aside-menu-area{
            order: 9;
            background: rgb(3, 3, 3);
            border-radius:5px;
            margin: 2rem 0;
            width:85%;
            .toggle-area{
                font-size: 1.8rem;
                text-transform: uppercase;
                color:$white;
                width: 100%;
                padding: .6rem;
                background: #000;
                border-radius: 5px;
                display:flex;
                align-items: center;
                justify-content: center;
                .toggle{
                    width:4rem ;
                    height: 4rem;
                    border: unset !important;
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    padding-left: 1rem;
                    span.bars {
                        width: 3rem;
                        height: 3px;
                        background: red;
                        position: relative;
                        &::after,&::before{
                            content: "";
                            display: block;
                            position: absolute;
                            width:3rem;
                            background: red;
                            height: 3px;
                        }
                        &::after{
                            transform:translateY(-1rem);
                        }
                        &::before{
                            transform: translateY(1rem);
                        }
                
                    }
                }
            }
            .manu-wraper{
                background: black;
                max-height: 0;
                overflow: hidden;
                transition: max-height .4s ease-in-out;
                li{
                    list-style: none;
                    ul{
                        background: black;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height .4s ease-in-out;
                    }
                    a{
                        font-size: 1.7rem;
                        color: $textc;
                        display: block;
                        padding: .5rem 0 .5rem 1rem;
                        color:white;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition: all .5s;
                        font-weight: 700;
                        font-family: $fontf;
                        &:hover{
                            background: rgb(246, 246, 246);
                            border-radius: 1rem;
                            padding-left: 2rem;
                            color:$textc;
                        }
                        
                    }
                }
                label{
                    font-size: 1.7rem;
                    color: $textc;
                    display: block;
                    padding: .5rem 0 .5rem 1rem;
                    color:white;
                    text-transform: uppercase;
                    font-weight: 700;
                    transition: all .5s;
                    cursor: pointer;
                    i.active{
                        transform: rotate(0);
                        transition: all .5s;
                    }
                    i{
                        float: right;
                        padding-right: 1rem;
                        transform: rotate(-90deg);
                    }
                    &:hover{
                        background: rgb(246, 246, 246);
                        border-radius: 1rem;
                        padding-left: 2rem;
                        color:$textc;
                    }
                }
            }
        }
        .header-icon{
            padding: 1rem 0 2rem 0;
            display: flex;
            font-size: 1.4rem;
            align-items: center;
            gap: 2rem;
            li{
                position: relative;
                p{
                    color: $ptxtc;
                    font-weight: 900;
                    padding-left: .4rem;
                }
                span{
                    position: absolute;
                    display: grid;
                    background: $textc;
                    width:1.3rem;
                    height: 1.3rem;
                    top:-25%;
                    right:-65%;
                    border-radius: 50%;
                    place-content: center;
                    font-size: 1rem;
                    color: $white;
                    font-weight: 700;
                }
                i{
                    font-size: 1.8rem;
                }
            }
    
        }


    }
}



header{
    background: $headerbg;
    padding: .5rem 0;
    .menu{
        display: flex;
        .email{
            position: relative;
            &::after{
              @include afterboder(70%,1px ,17% ,0% ,#b4b2b2)
            }
            a{
                font-size: 1.4rem;
                text-decoration: none;
                padding-right: 2rem;
                color: $headertxtc; 
                i{
                    padding-right: 1rem;
                }
            }
        }
        .free{
                font-size: 1.4rem;
                padding-left: 2rem;
        }
        .social-icon{
            padding-right:1.8rem;
            position: relative;
            &::after{
                @include afterboder(70%,1px ,17% ,0%,#b4b2b2 )
              }
            a{
                color: $headertxtc;
                font-size: 1.5rem;
                padding: .7rem;
                border-radius: 50%;
                transition: all .5s;
                &:hover{
                    color: $white;
                background: red;
                }
            }
        }
        .flag{
            padding:0 2rem ;
            font-size: 1.4rem;
            position: relative;
            &:hover .country{
                opacity: 1;
                visibility: visible;
                top: 100%;
            }
            &::after{
                @include afterboder(70%,1px ,17% ,0%,#b4b2b2 )
              }
              .country{
                  position: absolute;
                  width:100%;
                  background: $headertxtc;
                  border-radius: 3px;
                  top: 200%;
                  right: 0;
                  opacity: 0;
                  visibility: hidden;
                  transition: all .5s;
                  z-index:5;
                  a{
                      color: $white;
                      text-decoration: none;
                      text-align: center;
                      display: block;
                      padding: .6rem 0;
                      transition: all .6s;
                      
                      &:hover{
                          background: red;
                          border-radius: 3px;
                      }
                  }
              }
        }
        .login{
            padding-left: 2rem;
            font-size: 1.5rem;
            text-transform: capitalize;
            a{
                text-decoration: none;
                color: $headertxtc;
            }
            i{
                padding-right: .5rem;
            }
        }
    }
}
#toggle{
    width:4rem ;
    height: 4rem;
    border: 1px solid red;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span.bars {
        width: 3rem;
        height: 3px;
        background: red;
        position: relative;
        &::after,&::before{
            content: "";
            display: block;
            position: absolute;
            width:3rem;
            background: red;
            height: 3px;
        }
        &::after{
            transform:translateY(-1rem);
        }
        &::before{
            transform: translateY(1rem);
        }

    }
}
//nav bar style start
.header-nav{
    padding: 2rem;
    .nav{
        display: none;
        ul{
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            text-transform: uppercase;
            line-height: 5rem;
        
            li{
                a.active{
                    color: $textc;
                }
                &:hover>a{
                    color: $textc;
                }
                a{
                    padding-right: 6.7rem;
                    text-decoration: none;
                    font-family: $fontf;
                    color: $headertxtc;
                    font-weight: 700;
                    transition: all .5s;
                    &:hover,.active{
                        color: $textc;
                    }
                }
            }
            .pages{
                position: relative;
                &:hover>ul{
                    top:100%;
                    opacity: 1;
                    visibility: visible;
                }
                &:hover>ul::after{
                    width: 100%;
                }
                ul{
                    position: absolute;
                    width:16rem;
                    background-color:$ptxtc;
                    display: initial;
                    top: 200%;
                    left: -50%;
                    border-radius: 4px;
                    transition: all .6s;
                    opacity: 0;
                    visibility: hidden;
                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        top:0;
                        left:0;
                        width:0%;
                        background: red;
                        height: 3px;
                        transition-delay: .6s;
                        transition: all 1.2s;
                    }
                    li{
                        display: block;
                        a{
                            font-family: $fontf;
                            padding:  0 !important;
                            display: block;
                            padding:.5rem 0;
                            text-align: center;
                            color: $white;
                            font-weight: 700;
                            padding: 0 !important;
                            font-weight: 700;
                            line-height: 4rem;
                            transition: all .6s;
                            &:hover{
                                background:$white;
                                border-radius: 1rem 0;
                                color: $textc;
                            }
                        }
                    }
                }
            }
        }
    }
    .header-icon{
        display: flex;
        font-size: 1.4rem;
        align-items: center;
        gap: 2rem;
        li{
            position: relative;
            p{
                color: $ptxtc;
                font-weight: 900;
                padding-left: .4rem;
            }
            span{
                position: absolute;
                display: grid;
                background: $textc;
                width:1.3rem;
                height: 1.3rem;
                top:-25%;
                right:-65%;
                border-radius: 50%;
                place-content: center;
                font-size: 1rem;
                color: $white;
                font-weight: 700;
            }
            i{
                font-size: 1.8rem;
            }
        }

    }
}
//nav bar style end

//site all deparment area  start
.alldeparmeant{
    position:relative;
    
    .allitem{
        background-color: white;
        max-height:0;
        overflow: hidden;
        transition: max-height .8s ease-out;
        border: 1px solid #0000000a;
        position: absolute;
        width: 100%;
        li{
            a{
                text-decoration: none;
                font-size: 1.8rem;
                padding: .6rem 0;
                color: $ptxtc;
                font-family: $fontf;
                display: block;
                padding-left: 2rem;
            }
        }
    }
    button{
        width: 100%;
        background: $textc;
        color: $white;
        font-family: $fontf;
        font-size: 2rem;
        outline: none;
        border: none;
        padding: .8rem 0;
        position: relative;
        i{
            font-size: 1.7rem;
            &:first-child{
                padding-right: 1rem;
            }
            &:last-child{
                text-align: right;
                font-size: 1.4rem;
                position: absolute;
                top: 40%;
                right: 10%;
            }
        }
    }
}
//site all deparment area  end

//search area start
.search-form{
    width: 100%;
    height: 50px;
    border:1px solid rgba(56, 55, 55, 0.335);
    border-right: none;
    input[type=text]{
        border: none;
        outline: none;
        padding-left: 1rem;
        font-size: 1.5rem;
        width:45% ;
    }
    input[type=submit]{
        outline: none;
        border: none;
        font-family: $fontf;
        color: $white;
        background: $textc;
        font-size: 1.7rem;
        width: 20%;
        text-transform: uppercase;
    }
    .formTxt{
        height: 100%;
        width: 35%;
        line-height: 50px;
        font-size: 1.6rem;
        padding-left: 2rem;
        font-weight: 900;
        font-family: $fontf;
        position: relative;
        &::after{
            @include afterboder(50%,1px ,25% ,0% ,rgba(0, 0, 0, 0.274) )
        }
        i{
            font-size: 1.4rem;
           position: absolute;
           top: 40%;
           right: 10%;
        }
    }
}
//search area end
//phoneIcon style start
.phoneIcon{
    display: flex;
    align-items: center;
    padding: 0;
    span{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: $white;
        box-shadow: 0 0 1rem .3rem rgba(0, 0, 0, 0.137);
        display: grid;
        place-content: center;
        color:$textc;
        font-size: 2rem;
        margin-right: 2rem;
    }
    .number{
        h4{
            color: $ptxtc;
            font-family: $fontf;
            font-weight: 900;
            font-size: 1.6rem;
        }
        p{
            color: $ptxtc;
            font-family: $fontf;
            font-size: 1.5rem;
            padding-top: .6rem;
        }
    }
}
//phoneIcon style end



// page banner section start
.pageName{
    background: url(../img/breadcrumb.jpg.webp) center no-repeat;
    object-fit: cover;
    text-align: center;
    color: $white;
    padding:5rem 0;
    margin: 3rem 0;
    .bgImg{
        h1{
            font-size: 4.6rem;
            font-weight: 900;
            font-family: $fontf;
            text-transform: capitalize;
            margin-bottom: 1rem;
        }
        a{
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 900;
            font-family: $fontf;
            color: $white;
            display: inline-block;
            margin-right: 3rem;
            position:relative;
            &::after{
                content:"";
                display: inline-block;
                position: absolute;
                top: 50%;
                right:-40%;
                transform: translateY(-50%);
                width:1.3rem;
                height:1px;
                background:$white;
            }
        }
        span{
            font-size: 1.6rem;
            font-family: $fontf;
            color:$white;
            text-transform: capitalize;
            opacity: .8;
        }
    }
}
// page banner section end


//  sale off area 
.sale-off{
    h1{
        color: $ptxtc;
        font-family: $fontf;
        font-size: 2.4rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }
}
.allitem{
    background-color: white;
    li{
        a{
            text-decoration: none;
            font-size: 1.8rem;
            padding: .6rem 0;
            color: $ptxtc;
            font-family: $fontf;
            display: block;
            padding-left:0;
        }
    }
}

.filterItem.img1{
    background: url(../img/cat-1.jpg)  no-repeat;
    background-position: top center;
}
.filterItem.img2{
    background: url(../img/cat-2.jpg) no-repeat;
    background-position: top center;
}
.filterItem.img3{
    background: url(../img/cat-3.jpg) no-repeat;
    background-position: top center;
}
.filterItem.img4{
    background: url(../img/cat-4.jpg) no-repeat;
    background-position: top center;
}
.filterItem.img5{
    background: url(../img/cat-5.jpg) no-repeat;
    background-position: top center;
}
.filterItem.img6{
    background: url(../img/cat-1.jpg) no-repeat;
    
}
.slider-area{
    h1{
        font-size: 3.6rem;
        color:$ptxtc;
        font-family: $fontf;
        font-weight: 800;
        position:relative;
        display:inline-block;
        margin-bottom: 3rem;
        &::after{
            content:"";
            // display:block;
            position:absolute;
            width:100%;
            height:4px;
            bottom: -1.2rem;
            left:0;
            background: $textc;
        }
    }
}
.sliderArea{
    padding:3rem 0;
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
        display: none !important;
    }
    .filterItem{
         height: 370px;
        // flex: 1 0 230px;
        // object-fit: cover;
        position: relative;
        .off{
            position:absolute;
            top: 2%;
            left:8%;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background: red;
            color:$white;
            display:grid;
            place-content: center;
            font-family: $fontf;
            font-size: 1.8rem;
            font-weight: 500;
        }
        &:hover .filter-icon a {
            transform: translateY(-55px);
            opacity: 1;
        }
        &:hover .filter-icon a :nth-child(1){
        transition-delay: .2s;
        }
        &:hover .filter-icon a:nth-child(2){
            transition-delay: .4s;

        }
        &:hover .filter-icon a:nth-child(3){
            transition-delay: .6s;

        }
        .itemtxt{
            position: absolute;
            bottom: 0%;
            text-align: center;
            display: block;
            width: 100%;
            //box-shadow: 0 0 1rem .3rem #00000015;
            z-index: 11 !important;
            background: #fff;
            padding:1.5rem 0;
            h4{
                font-family: $fontf;
                font-size: 1.4rem;
                color: #b2b2b2;
            }
            h3{
                font-family: $fontf;
                color:$ptxtc;
                font-size: 1.8rem;
                padding: .5rem;
                text-transform: capitalize;
            }
            span{
                font-weight: 900;
                font-size: 1.8rem;
            }
            samp{
                font-weight: 400;
                font-size: 1.8rem;
                color: #b2b2b2;
                text-decoration: line-through;
                padding-left: 2rem;
            }
        }
        .filter-icon{
            position: absolute;
            display: block;
            text-align: center;
            width: 100%;
            font-size: 1.7rem;
            bottom: 60px;
            z-index: 12 !important;
            a{
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                // box-shadow: 0 0 1rem .3rem rgba(0, 0, 0, 0.212);
                line-height: 5rem;
                margin: 0 .3rem;
                transition: all .6s;
                opacity: 0;
                display: inline-block;
                i{
                    width: 5rem;
                height: 5rem;
                background: #fff;
                border-radius: 50%;
                box-shadow: 0 0 1rem .3rem rgba(0, 0, 0, 0.212);
                line-height: 5rem;
                transition: transform .5s ease-in-out;
                    &:hover {
                        background: $textc;
                        color: #fff;
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}
//  sale off area end

//footer area start
footer{
    background: #ebf2fa;
    padding: 6rem 0;
    .footer-first-col{
        img{
            margin-bottom: 2rem;
        }
        p{
            font-size: 1.6rem;
            color: $ptxtc;
            font-family: $fontf;
            line-height: 3.6rem;
        }
    }
    .footer-second-col{
        h4{
            color: $ptxtc;
            font-family: $fontf;
            font-size: 1.8rem;
            font-weight: 800;
            padding-bottom: 1rem;
        }
        .usefulLink{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                flex: 1 0 50%;
                a{
                    text-decoration: none;
                    color: $ptxtc;
                    font-family: $fontf;
                    font-size: 1.4rem;
                    line-height: 3.2rem;
                    transition: all .5s;
                    &:hover{
                        color: $textc;
                    }
                }
            }
        }
    }
    .footer-third-col{
        h2{
            font-size: 1.8rem;
            font-weight: 800;
            font-family: $fontf;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.4rem;
            font-family: $fontf;
            margin-bottom: 2rem;
        }
        form{
            width: 100%;
            height:45px;
            display: flex;
            margin-bottom: 3rem;
            input{
                width: 70%;
                height: 100%;
                border: none;
                outline: none;
                font-size: 1.5rem;
                padding-left: 1rem;
                &:focus{
                    box-shadow: 0 0 1rem .4rem rgba(0, 132, 255, 0.459);
                }
            }
            button{
                border: none;
                outline:none;
                height: 100%;
                color: $white;
                letter-spacing: 0px !important;
                @include btn(800);
                
            }
        }
        .social-icon{
            a{
                font-size: 2rem;
                margin: 0 .2rem;
                i{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    background: rgb(255, 255, 255);
                    text-align: center;
                    line-height: 5rem;
                    box-shadow:  0 0 2rem .2rem rgba(0, 0, 0, 0.164);
                    transition: all .5s;
                    &:hover{
                        background: $textc;
                        color:$white;
                    }
                }
            }
        }
    }
}
//footer area end
.Colorlib{
    padding: 3rem 0;
    h1{
        font-size: 1.6rem;
        color: #6F6F6F;
        font-family: $fontf;
        a{
            text-decoration: none;
            &:hover{
                color: $textc;
            }
        }
    }
}
@media screen and (min-width:991px){
    .header-nav{
        padding: 2rem 0;
        .nav{
            display: block;
        }
    }
    #toggle{
        display: none !important;
    }
    
}
@media screen and (max-width:1199px){
    .item-wraper{
        display: flex;
        // width: 100%;
        gap: 2rem;
        flex-wrap: wrap;
        .filterItem{
            height: 360px;
            flex: 1 0 200px !important;
            object-fit: cover;
            position: relative;
        }
    }
}
@media screen and (max-width:991px){
    .header-icon{
        order: 4;
        width: 100%;
        justify-content: center;
        padding: 2rem 0;
    }
    .header-nav{
        .nav{
            flex: 1;
        }
    }
   
    .Colorlib{
        padding: 3rem 0;
        .contain {

            h1{
                font-size: 1.4rem;
                color: #6F6F6F;
                font-family: $fontf;
                a{
                    text-decoration: none;
                    &:hover{
                        color: $textc;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:767px){
    .fruit-img{
        padding-bottom:7rem !important;
        .fimg1{
            img{
                width: 100%;
                margin-right: 0  !important;
            }
        }
        .fimg2{
            img{
                width: 100%;
                margin-left: 0  !important;
            }
        }
    }
    .Colorlib{
        padding: 3rem 0;
        .contain {
            display: unset !important;
            text-align: center;
            h1{
                width:100%;
                font-size: 1.6rem;
                margin-bottom: 2rem;
            }
        }
    }
    .first-slider{
        position: relative;
     .prev_arow{
    color: white;
    background: red;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    position: absolute;
    right:0%;
    top: -32px;
     }
     .next_arow{
    color: white;
    background: red;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    position: absolute;
    left:75% !important;
    top: -32px;
     }
        
    }

     .product-review .first-slider .next_arow {
        left: 85% !important;
        top: -32px;
    }

     .product-review .second-slider .next_arow {
        left: 85% !important;
        top: -32px;
    }

     .product-review .third-slider .next_arow {
        left: 85% !important;
        top: -32px;
    }

    
}
@media screen and (max-width:575px){
    .formTxt{
        display: none;
    }
    .search-form{
        input[type=text]{
            width:70%;
        }
        input[type=submit]{
            width:30%;
        }
    }
    .img-div{
        h1{
            font-size: 3.5rem;
        }
    }
    .next_arow{
        left: -1rem !important;
    }
    .prev_arow{
        right: -1rem !important;
    }
}
@media screen and (max-width:450px){
    .list-container{
        display: flex;

        .list{
            font-size: 1.6rem !important;
            margin:0 .5rem !important;
            font-family: $fontf;
            color: $headertxtc;
            cursor: pointer;
        }
        .list.active{
            border-bottom: 3px solid $textc;
        }
    }
    .item-wraper{
        display: flex;
        // width: 100%;
        gap: 2rem;
        flex-wrap: wrap;
        .filterItem{
            height: 360px;
            flex: 1 0 220px !important;
            object-fit: cover;
            position: relative;
        }
    }
     
    .itemtxt{
        position: absolute;
        bottom: 5% !important;
        left: 12%;
        text-align: center;
        display: block;
        width: 76% !important;
        box-shadow: 0 0 1rem .3rem #00000015;
        z-index: 11 !important;
        background: #fff;
        h3{
            font-family: $fontf;
            color: #252525;
            font-size: 1.6rem;
            padding: 1rem 0;
        }
        span{
            font-weight: 900;
            font-size: 1.8rem;
            margin-top: .5rem !important;
        }
    }
    
    .product-review .first-slider .next_arow {
        left: 80% !important;
        top: -32px;
    }

     .product-review .second-slider .next_arow {
        left: 80% !important;
        top: -32px;
    }

     .product-review .third-slider .next_arow {
        left: 80% !important;
        top: -32px;
    }
}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }