@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden !important;
  font-family: 'Cairo', sans-serif;
}

ol, ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90% !important;
}

.aside.active {
  left: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.aside {
  width: 300px;
  background: #FFFFFF;
  padding-left: 3rem;
  position: absolute;
  top: 0;
  left: -320px;
  z-index: 99999;
  height: 100%;
  -webkit-box-shadow: 1rem 1rem 1rem 0.2rem rgba(0, 0, 0, 0.167);
          box-shadow: 1rem 1rem 1rem 0.2rem rgba(0, 0, 0, 0.167);
  -webkit-transition: all .7s;
  transition: all .7s;
}

.aside .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside .menu li.logo {
  padding: 5rem 0 3rem 0;
}

.aside .menu .login {
  padding-left: 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.aside .menu .login a {
  text-decoration: none;
  color: #1c1c1c;
}

.aside .menu .login i {
  padding-right: .5rem;
}

.aside .menu .email {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.aside .menu .email a {
  font-size: 1.4rem;
  text-decoration: none;
  padding-right: 0;
  color: #1c1c1c;
}

.aside .menu .email a i {
  padding-right: 1rem;
}

.aside .menu .free {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
  font-size: 1.4rem;
  padding-left: 0rem;
}

.aside .menu .social-icon {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  padding-right: 1.8rem;
  position: relative;
  padding: 0 0 2rem 0;
}

.aside .menu .social-icon a {
  color: #1c1c1c;
  font-size: 2rem;
  padding: .7rem;
  width: 4rem;
  display: inline-block;
  height: 4rem;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.aside .menu .social-icon a:hover {
  color: #FFFFFF;
  background: red;
}

.aside .menu .login-flag {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside .menu .login-flag .flag {
  position: relative;
  font-size: 1.6rem;
}

.aside .menu .login-flag .flag:hover > .country {
  top: 90%;
  opacity: 1;
  visibility: visible;
}

.aside .menu .login-flag .flag .country {
  position: absolute;
  background: black;
  width: 80px;
  text-align: center;
  left: 0;
  top: 190%;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.aside .menu .login-flag .flag .country li {
  list-style: none;
}

.aside .menu .login-flag .flag .country li a {
  font-family: "Cairo", sans-serif;
  color: #FFFFFF;
  font-size: 1.4rem;
  text-decoration: none;
  display: block;
  padding: .4rem 0;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: bold;
}

.aside .menu .login-flag .flag .country li a:hover {
  background-color: #FFFFFF;
  color: #7FAD39;
}

.aside .menu .login-flag .login {
  padding-left: 2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  position: relative;
}

.aside .menu .login-flag .login::after {
  content: "";
  position: absolute;
  height: 70%;
  right: 80%;
  top: 17%;
  width: 1px;
  background: #b4b2b2;
}

.aside .menu .login-flag .login a {
  text-decoration: none;
  color: #1c1c1c;
}

.aside .menu .login-flag .login i {
  padding-right: .5rem;
}

.aside .menu .flag:hover.country {
  top: 0% !important;
}

.aside .menu .aside-menu-area {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
  background: #030303;
  border-radius: 5px;
  margin: 2rem 0;
  width: 85%;
}

.aside .menu .aside-menu-area .toggle-area {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  padding: .6rem;
  background: #000;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside .menu .aside-menu-area .toggle-area .toggle {
  width: 4rem;
  height: 4rem;
  border: unset !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding-left: 1rem;
}

.aside .menu .aside-menu-area .toggle-area .toggle span.bars {
  width: 3rem;
  height: 3px;
  background: red;
  position: relative;
}

.aside .menu .aside-menu-area .toggle-area .toggle span.bars::after, .aside .menu .aside-menu-area .toggle-area .toggle span.bars::before {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  background: red;
  height: 3px;
}

.aside .menu .aside-menu-area .toggle-area .toggle span.bars::after {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.aside .menu .aside-menu-area .toggle-area .toggle span.bars::before {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.aside .menu .aside-menu-area .manu-wraper {
  background: black;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .4s ease-in-out;
  transition: max-height .4s ease-in-out;
}

.aside .menu .aside-menu-area .manu-wraper li {
  list-style: none;
}

.aside .menu .aside-menu-area .manu-wraper li ul {
  background: black;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .4s ease-in-out;
  transition: max-height .4s ease-in-out;
}

.aside .menu .aside-menu-area .manu-wraper li a {
  font-size: 1.7rem;
  color: #7FAD39;
  display: block;
  padding: .5rem 0 .5rem 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: 700;
  font-family: "Cairo", sans-serif;
}

.aside .menu .aside-menu-area .manu-wraper li a:hover {
  background: #f6f6f6;
  border-radius: 1rem;
  padding-left: 2rem;
  color: #7FAD39;
}

.aside .menu .aside-menu-area .manu-wraper label {
  font-size: 1.7rem;
  color: #7FAD39;
  display: block;
  padding: .5rem 0 .5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.aside .menu .aside-menu-area .manu-wraper label i.active {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.aside .menu .aside-menu-area .manu-wraper label i {
  float: right;
  padding-right: 1rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.aside .menu .aside-menu-area .manu-wraper label:hover {
  background: #f6f6f6;
  border-radius: 1rem;
  padding-left: 2rem;
  color: #7FAD39;
}

.aside .menu .header-icon {
  padding: 1rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.aside .menu .header-icon li {
  position: relative;
}

.aside .menu .header-icon li p {
  color: #252525;
  font-weight: 900;
  padding-left: .4rem;
}

.aside .menu .header-icon li span {
  position: absolute;
  display: -ms-grid;
  display: grid;
  background: #7FAD39;
  width: 1.3rem;
  height: 1.3rem;
  top: -25%;
  right: -65%;
  border-radius: 50%;
  place-content: center;
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 700;
}

.aside .menu .header-icon li i {
  font-size: 1.8rem;
}

header {
  background: #F5F5F5;
  padding: .5rem 0;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu .email {
  position: relative;
}

header .menu .email::after {
  content: "";
  position: absolute;
  height: 70%;
  right: 0%;
  top: 17%;
  width: 1px;
  background: #b4b2b2;
}

header .menu .email a {
  font-size: 1.4rem;
  text-decoration: none;
  padding-right: 2rem;
  color: #1c1c1c;
}

header .menu .email a i {
  padding-right: 1rem;
}

header .menu .free {
  font-size: 1.4rem;
  padding-left: 2rem;
}

header .menu .social-icon {
  padding-right: 1.8rem;
  position: relative;
}

header .menu .social-icon::after {
  content: "";
  position: absolute;
  height: 70%;
  right: 0%;
  top: 17%;
  width: 1px;
  background: #b4b2b2;
}

header .menu .social-icon a {
  color: #1c1c1c;
  font-size: 1.5rem;
  padding: .7rem;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .menu .social-icon a:hover {
  color: #FFFFFF;
  background: red;
}

header .menu .flag {
  padding: 0 2rem;
  font-size: 1.4rem;
  position: relative;
}

header .menu .flag:hover .country {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

header .menu .flag::after {
  content: "";
  position: absolute;
  height: 70%;
  right: 0%;
  top: 17%;
  width: 1px;
  background: #b4b2b2;
}

header .menu .flag .country {
  position: absolute;
  width: 100%;
  background: #1c1c1c;
  border-radius: 3px;
  top: 200%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 5;
}

header .menu .flag .country a {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: .6rem 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

header .menu .flag .country a:hover {
  background: red;
  border-radius: 3px;
}

header .menu .login {
  padding-left: 2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

header .menu .login a {
  text-decoration: none;
  color: #1c1c1c;
}

header .menu .login i {
  padding-right: .5rem;
}

#toggle {
  width: 4rem;
  height: 4rem;
  border: 1px solid red;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#toggle span.bars {
  width: 3rem;
  height: 3px;
  background: red;
  position: relative;
}

#toggle span.bars::after, #toggle span.bars::before {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  background: red;
  height: 3px;
}

#toggle span.bars::after {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

#toggle span.bars::before {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.header-nav {
  padding: 2rem;
}

.header-nav .nav {
  display: none;
}

.header-nav .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 5rem;
}

.header-nav .nav ul li a.active {
  color: #7FAD39;
}

.header-nav .nav ul li:hover > a {
  color: #7FAD39;
}

.header-nav .nav ul li a {
  padding-right: 6.7rem;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  color: #1c1c1c;
  font-weight: 700;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header-nav .nav ul li a:hover, .header-nav .nav ul li a .active {
  color: #7FAD39;
}

.header-nav .nav ul .pages {
  position: relative;
}

.header-nav .nav ul .pages:hover > ul {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.header-nav .nav ul .pages:hover > ul::after {
  width: 100%;
}

.header-nav .nav ul .pages ul {
  position: absolute;
  width: 16rem;
  background-color: #252525;
  display: initial;
  top: 200%;
  left: -50%;
  border-radius: 4px;
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
  visibility: hidden;
}

.header-nav .nav ul .pages ul::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  background: red;
  height: 3px;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.header-nav .nav ul .pages ul li {
  display: block;
}

.header-nav .nav ul .pages ul li a {
  font-family: "Cairo", sans-serif;
  padding: 0 !important;
  display: block;
  padding: .5rem 0;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  padding: 0 !important;
  font-weight: 700;
  line-height: 4rem;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.header-nav .nav ul .pages ul li a:hover {
  background: #FFFFFF;
  border-radius: 1rem 0;
  color: #7FAD39;
}

.header-nav .header-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.header-nav .header-icon li {
  position: relative;
}

.header-nav .header-icon li p {
  color: #252525;
  font-weight: 900;
  padding-left: .4rem;
}

.header-nav .header-icon li span {
  position: absolute;
  display: -ms-grid;
  display: grid;
  background: #7FAD39;
  width: 1.3rem;
  height: 1.3rem;
  top: -25%;
  right: -65%;
  border-radius: 50%;
  place-content: center;
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 700;
}

.header-nav .header-icon li i {
  font-size: 1.8rem;
}

.alldeparmeant {
  position: relative;
}

.alldeparmeant .allitem {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .8s ease-out;
  transition: max-height .8s ease-out;
  border: 1px solid #0000000a;
  position: absolute;
  width: 100%;
}

.alldeparmeant .allitem li a {
  text-decoration: none;
  font-size: 1.8rem;
  padding: .6rem 0;
  color: #252525;
  font-family: "Cairo", sans-serif;
  display: block;
  padding-left: 2rem;
}

.alldeparmeant button {
  width: 100%;
  background: #7FAD39;
  color: #FFFFFF;
  font-family: "Cairo", sans-serif;
  font-size: 2rem;
  outline: none;
  border: none;
  padding: .8rem 0;
  position: relative;
}

.alldeparmeant button i {
  font-size: 1.7rem;
}

.alldeparmeant button i:first-child {
  padding-right: 1rem;
}

.alldeparmeant button i:last-child {
  text-align: right;
  font-size: 1.4rem;
  position: absolute;
  top: 40%;
  right: 10%;
}

.search-form {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(56, 55, 55, 0.335);
  border-right: none;
}

.search-form input[type=text] {
  border: none;
  outline: none;
  padding-left: 1rem;
  font-size: 1.5rem;
  width: 45%;
}

.search-form input[type=submit] {
  outline: none;
  border: none;
  font-family: "Cairo", sans-serif;
  color: #FFFFFF;
  background: #7FAD39;
  font-size: 1.7rem;
  width: 20%;
  text-transform: uppercase;
}

.search-form .formTxt {
  height: 100%;
  width: 35%;
  line-height: 50px;
  font-size: 1.6rem;
  padding-left: 2rem;
  font-weight: 900;
  font-family: "Cairo", sans-serif;
  position: relative;
}

.search-form .formTxt::after {
  content: "";
  position: absolute;
  height: 50%;
  right: 0%;
  top: 25%;
  width: 1px;
  background: rgba(0, 0, 0, 0.274);
}

.search-form .formTxt i {
  font-size: 1.4rem;
  position: absolute;
  top: 40%;
  right: 10%;
}

.phoneIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.phoneIcon span {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.137);
          box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.137);
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #7FAD39;
  font-size: 2rem;
  margin-right: 2rem;
}

.phoneIcon .number h4 {
  color: #252525;
  font-family: "Cairo", sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
}

.phoneIcon .number p {
  color: #252525;
  font-family: "Cairo", sans-serif;
  font-size: 1.5rem;
  padding-top: .6rem;
}

.pageName {
  background: url(../img/breadcrumb.jpg.webp) center no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  color: #FFFFFF;
  padding: 5rem 0;
  margin: 3rem 0;
}

.pageName .bgImg h1 {
  font-size: 4.6rem;
  font-weight: 900;
  font-family: "Cairo", sans-serif;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.pageName .bgImg a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
  font-family: "Cairo", sans-serif;
  color: #FFFFFF;
  display: inline-block;
  margin-right: 3rem;
  position: relative;
}

.pageName .bgImg a::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.3rem;
  height: 1px;
  background: #FFFFFF;
}

.pageName .bgImg span {
  font-size: 1.6rem;
  font-family: "Cairo", sans-serif;
  color: #FFFFFF;
  text-transform: capitalize;
  opacity: .8;
}

.sale-off h1 {
  color: #252525;
  font-family: "Cairo", sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.allitem {
  background-color: white;
}

.allitem li a {
  text-decoration: none;
  font-size: 1.8rem;
  padding: .6rem 0;
  color: #252525;
  font-family: "Cairo", sans-serif;
  display: block;
  padding-left: 0;
}

.filterItem.img1 {
  background: url(../img/cat-1.jpg) no-repeat;
  background-position: top center;
}

.filterItem.img2 {
  background: url(../img/cat-2.jpg) no-repeat;
  background-position: top center;
}

.filterItem.img3 {
  background: url(../img/cat-3.jpg) no-repeat;
  background-position: top center;
}

.filterItem.img4 {
  background: url(../img/cat-4.jpg) no-repeat;
  background-position: top center;
}

.filterItem.img5 {
  background: url(../img/cat-5.jpg) no-repeat;
  background-position: top center;
}

.filterItem.img6 {
  background: url(../img/cat-1.jpg) no-repeat;
}

.slider-area h1 {
  font-size: 3.6rem;
  color: #252525;
  font-family: "Cairo", sans-serif;
  font-weight: 800;
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
}

.slider-area h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1.2rem;
  left: 0;
  background: #7FAD39;
}

.sliderArea {
  padding: 3rem 0;
}

.sliderArea [type=button]:not(:disabled), .sliderArea [type=reset]:not(:disabled), .sliderArea [type=submit]:not(:disabled), .sliderArea button:not(:disabled) {
  cursor: pointer;
  display: none !important;
}

.sliderArea .filterItem {
  height: 370px;
  position: relative;
}

.sliderArea .filterItem .off {
  position: absolute;
  top: 2%;
  left: 8%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: red;
  color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: "Cairo", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.sliderArea .filterItem:hover .filter-icon a {
  -webkit-transform: translateY(-55px);
          transform: translateY(-55px);
  opacity: 1;
}

.sliderArea .filterItem:hover .filter-icon a :nth-child(1) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.sliderArea .filterItem:hover .filter-icon a:nth-child(2) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.sliderArea .filterItem:hover .filter-icon a:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.sliderArea .filterItem .itemtxt {
  position: absolute;
  bottom: 0%;
  text-align: center;
  display: block;
  width: 100%;
  z-index: 11 !important;
  background: #fff;
  padding: 1.5rem 0;
}

.sliderArea .filterItem .itemtxt h4 {
  font-family: "Cairo", sans-serif;
  font-size: 1.4rem;
  color: #b2b2b2;
}

.sliderArea .filterItem .itemtxt h3 {
  font-family: "Cairo", sans-serif;
  color: #252525;
  font-size: 1.8rem;
  padding: .5rem;
  text-transform: capitalize;
}

.sliderArea .filterItem .itemtxt span {
  font-weight: 900;
  font-size: 1.8rem;
}

.sliderArea .filterItem .itemtxt samp {
  font-weight: 400;
  font-size: 1.8rem;
  color: #b2b2b2;
  text-decoration: line-through;
  padding-left: 2rem;
}

.sliderArea .filterItem .filter-icon {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1.7rem;
  bottom: 60px;
  z-index: 12 !important;
}

.sliderArea .filterItem .filter-icon a {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  margin: 0 .3rem;
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
  display: inline-block;
}

.sliderArea .filterItem .filter-icon a i {
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.212);
          box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.212);
  line-height: 5rem;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.sliderArea .filterItem .filter-icon a i:hover {
  background: #7FAD39;
  color: #fff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

footer {
  background: #ebf2fa;
  padding: 6rem 0;
}

footer .footer-first-col img {
  margin-bottom: 2rem;
}

footer .footer-first-col p {
  font-size: 1.6rem;
  color: #252525;
  font-family: "Cairo", sans-serif;
  line-height: 3.6rem;
}

footer .footer-second-col h4 {
  color: #252525;
  font-family: "Cairo", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  padding-bottom: 1rem;
}

footer .footer-second-col .usefulLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-second-col .usefulLink li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

footer .footer-second-col .usefulLink li a {
  text-decoration: none;
  color: #252525;
  font-family: "Cairo", sans-serif;
  font-size: 1.4rem;
  line-height: 3.2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer .footer-second-col .usefulLink li a:hover {
  color: #7FAD39;
}

footer .footer-third-col h2 {
  font-size: 1.8rem;
  font-weight: 800;
  font-family: "Cairo", sans-serif;
  margin-bottom: 1rem;
}

footer .footer-third-col p {
  font-size: 1.4rem;
  font-family: "Cairo", sans-serif;
  margin-bottom: 2rem;
}

footer .footer-third-col form {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

footer .footer-third-col form input {
  width: 70%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding-left: 1rem;
}

footer .footer-third-col form input:focus {
  -webkit-box-shadow: 0 0 1rem 0.4rem rgba(0, 132, 255, 0.459);
          box-shadow: 0 0 1rem 0.4rem rgba(0, 132, 255, 0.459);
}

footer .footer-third-col form button {
  border: none;
  outline: none;
  height: 100%;
  color: #FFFFFF;
  letter-spacing: 0px !important;
  background: #7FAD39;
  border-radius: 0;
  border: 1px solid #7FAD39;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer .footer-third-col form button:hover {
  background: transparent;
  color: #7FAD39;
}

footer .footer-third-col .social-icon a {
  font-size: 2rem;
  margin: 0 .2rem;
}

footer .footer-third-col .social-icon a i {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: white;
  text-align: center;
  line-height: 5rem;
  -webkit-box-shadow: 0 0 2rem 0.2rem rgba(0, 0, 0, 0.164);
          box-shadow: 0 0 2rem 0.2rem rgba(0, 0, 0, 0.164);
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer .footer-third-col .social-icon a i:hover {
  background: #7FAD39;
  color: #FFFFFF;
}

.Colorlib {
  padding: 3rem 0;
}

.Colorlib h1 {
  font-size: 1.6rem;
  color: #6F6F6F;
  font-family: "Cairo", sans-serif;
}

.Colorlib h1 a {
  text-decoration: none;
}

.Colorlib h1 a:hover {
  color: #7FAD39;
}

@media screen and (min-width: 991px) {
  .header-nav {
    padding: 2rem 0;
  }
  .header-nav .nav {
    display: block;
  }
  #toggle {
    display: none !important;
  }
}

@media screen and (max-width: 1199px) {
  .item-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item-wraper .filterItem {
    height: 360px;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 200px !important;
            flex: 1 0 200px !important;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  .header-icon {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 0;
  }
  .header-nav .nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .Colorlib {
    padding: 3rem 0;
  }
  .Colorlib .contain h1 {
    font-size: 1.4rem;
    color: #6F6F6F;
    font-family: "Cairo", sans-serif;
  }
  .Colorlib .contain h1 a {
    text-decoration: none;
  }
  .Colorlib .contain h1 a:hover {
    color: #7FAD39;
  }
}

@media screen and (max-width: 767px) {
  .fruit-img {
    padding-bottom: 7rem !important;
  }
  .fruit-img .fimg1 img {
    width: 100%;
    margin-right: 0  !important;
  }
  .fruit-img .fimg2 img {
    width: 100%;
    margin-left: 0  !important;
  }
  .Colorlib {
    padding: 3rem 0;
  }
  .Colorlib .contain {
    display: unset !important;
    text-align: center;
  }
  .Colorlib .contain h1 {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .first-slider {
    position: relative;
  }
  .first-slider .prev_arow {
    color: white;
    background: red;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    top: -32px;
  }
  .first-slider .next_arow {
    color: white;
    background: red;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    position: absolute;
    left: 75% !important;
    top: -32px;
  }
  .product-review .first-slider .next_arow {
    left: 85% !important;
    top: -32px;
  }
  .product-review .second-slider .next_arow {
    left: 85% !important;
    top: -32px;
  }
  .product-review .third-slider .next_arow {
    left: 85% !important;
    top: -32px;
  }
}

@media screen and (max-width: 575px) {
  .formTxt {
    display: none;
  }
  .search-form input[type=text] {
    width: 70%;
  }
  .search-form input[type=submit] {
    width: 30%;
  }
  .img-div h1 {
    font-size: 3.5rem;
  }
  .next_arow {
    left: -1rem !important;
  }
  .prev_arow {
    right: -1rem !important;
  }
}

@media screen and (max-width: 450px) {
  .list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list-container .list {
    font-size: 1.6rem !important;
    margin: 0 .5rem !important;
    font-family: "Cairo", sans-serif;
    color: #1c1c1c;
    cursor: pointer;
  }
  .list-container .list.active {
    border-bottom: 3px solid #7FAD39;
  }
  .item-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item-wraper .filterItem {
    height: 360px;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 220px !important;
            flex: 1 0 220px !important;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }
  .itemtxt {
    position: absolute;
    bottom: 5% !important;
    left: 12%;
    text-align: center;
    display: block;
    width: 76% !important;
    -webkit-box-shadow: 0 0 1rem .3rem #00000015;
            box-shadow: 0 0 1rem .3rem #00000015;
    z-index: 11 !important;
    background: #fff;
  }
  .itemtxt h3 {
    font-family: "Cairo", sans-serif;
    color: #252525;
    font-size: 1.6rem;
    padding: 1rem 0;
  }
  .itemtxt span {
    font-weight: 900;
    font-size: 1.8rem;
    margin-top: .5rem !important;
  }
  .product-review .first-slider .next_arow {
    left: 80% !important;
    top: -32px;
  }
  .product-review .second-slider .next_arow {
    left: 80% !important;
    top: -32px;
  }
  .product-review .third-slider .next_arow {
    left: 80% !important;
    top: -32px;
  }
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}
/*# sourceMappingURL=shop.css.map */